<nav class="tab-bar tab-bar-bottom">
	<div class="container container-md">
		<a href="" class="tab-bar__btn">
			<span class="tab-bar__label">новые заказы</span>
			<svg class="tab-bar__icon" width="48" height="35">
				<use xlink:href="#cart"></use>
			</svg>
		</a>
		<a href="" class="tab-bar__btn">
			<span class="tab-bar__label">мои заказы</span>
			<svg class="tab-bar__icon" width="40" height="35">
				<use xlink:href="#add-to-cart"></use>
			</svg>
		</a>
		<a href="" class="tab-bar__btn">
			<span class="tab-bar__label">чат</span>
			<svg class="tab-bar__icon" width="37" height="35">
				<use xlink:href="#question-mark"></use>
			</svg>
		</a>
		<a href="" class="tab-bar__btn active">
			<span class="tab-bar__label">уведомления</span>
			<svg class="tab-bar__icon" width="45" height="35">
				<use xlink:href="#email"></use>
			</svg>
		</a>
	</div>
</nav>
