//$light: $lightgrey;
//$light: $light !default;

//$tertiary: #5F5F5F;
//$tertiary: $tertiary !default;

$secondary: #5F5F5F;
$secondary: $secondary !default;

$warning: #ffce00;
$warning: $warning !default;

$contrast: #ffffff;
$contrast: $contrast !default;

$primary: #734a91;
$primary: $primary !default;

$dark: #000000;
$dark: $dark !default;

$success: #10dc60;
$success: $success !default;

$danger: #f04141;
$danger: $danger !default;

$font-main: 'Montserrat', sans-serif;
